asgiref==3.8.1
Django==5.1.2
django-appconf==1.0.6
django-imagekit==5.0.0
django-livereload-server==0.5.1
et_xmlfile==2.0.0
fontawesomefree==6.0.0
gitdb==4.0.11
GitPython==3.1.43
mysqlclient==2.2.6
openpyxl==3.1.5
pilkit==3.0
pillow==11.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
six==1.16.0
smmap==5.0.1
sqlparse==0.5.1
tornado==6.4.1
tzdata==2024.2
whitenoise==6.8.2
