{% extends "base/base.html" %}
{% load static %}

{% block pageTitle %}Programs{% endblock pageTitle %}

{% block content %}
<!--A template for the dashboard-->
    <div class='row'>
        <div class="d-none d-sm-block col-sm-3 bg-white my-4 p-2 border rounded shadow text-primary">
            <!--This is the sidemenu of the page-->
            {% include "main/sidemenu.html" %}
        </div>
        <div class="col-12 col-sm-9 bg-white my-4 p-2 border rounded shadow-lg">
            <!--Information about the progams-->
            <h3>Programs</h3>
            <div class="row d-flex">
                {% for program in programs  %}
                    <a href="{% url "editProgram" program.id %}" class="text-white text-decoration-none col-12 col-sm-4">
                        <div class="bg-secondary  mb-2">
                            <ul class="list-group">
                                <li class="list-group-item bg-success text-white">Class: {{ program.program_name }} </li>
                                <li class="list-group-item bg-success text-white">Amount: {{ program.amount }}</li>
                                <li class="list-group-item bg-success text-white">Year: {{ program.created|date:"Y" }}</li>
                            </ul>
                        </div>
                    </a>     
                {% endfor %}
            </div>
            <!--total money recieved by a user-->
            <div class="col-12 col-sm-4">
                <p class="text-primary p-2 border border-primary rounded">
                    Total Amount Recieved: GHc {{totalCredit}}
                </p>
            </div>
        </div>
        
    </div>
{% endblock content %}