<!--Side menu for mobile-->
<div class="row">
    <div class="col-2">
        <p class="text-center"><a href="{% url "dashboard" %}" class="fs-5 text-decoration-none text-center"><i class="fa-solid fa-table-columns"></i></a></p>
    </div>
    <div class="col-2">
        <p class="text-center"><a href="{% url "program" %}" class="fs-5 text-decoration-none"><i class="fa-solid fa-book"></i></a></p>
    </div>
    <div class="col-2">
        <p class="text-center"><a href="{% url "addProgram" %}" class="fs-5 text-decoration-none"><i class="fa-solid fa-book"></i><i class="fa-solid fa-plus" style="font-size:0.7rem"></i></a></p>
    </div>
    <div class="col-2">
        <p class="text-center"><a href="{% url "addStudent" %}" class="fs-5 text-decoration-none"><i class="fa-solid fa-user-plus"></i></a></p>
    </div>
    <div class="col-2">
        <p class="text-center"><a href="{% url "allUsers" %}" class="fs-5 text-decoration-none"><i class="fa-solid fa-users"></i></a></p>
    </div>
    <div class="col-2">
        <p class="text-center"><a href="{% url "message" %}" class="fs-5 text-decoration-none"><i class=" fa-solid fa-envelope"></i><span class="fs-6"> {{num_of_unread}}</span></a></p>
    </div>
</div>