{% extends "base/base.html" %}
{% load static %}

{% block pageTitle %}Dashboard{% endblock pageTitle %}
<!--Display details about a program showing the students that offere the program-->
{% block content %}
<div class="text-centers">
    <div class='row gx-2'>
        <!--This is the sidemenu of the page-->
        <div class="d-none d-sm-block col-sm-3 bg-white my-4 border rounded shadow text-primary">
            {% include "main/sidemenu.html" %}
        </div>
        <div class="col-12 col-sm-9 bg-white my-4 pb-3 border rounded shadow-lg px-2">
            <!--A form for searching throught the student-->
            <form action="" method="post" class="form-search d-flex  my-3 col-lg-8 col-md-8 col-sm-12" data-aos="fade-up" data-aos-delay="200" style="margin:auto;">
                {% csrf_token %}
                <input type="text" class="form-control" placeholder="Enter name" name="name">
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
            <!--Header section of list of students-->
            <div class="row px-2">
                <a href="" class="d-flex text-decoration-none bg-primary">
                    <span class="col-1 bg-primary text-white p-2">#</span>
                    <span class="col-7 bg-primary text-white p-2">Name</span>
                    <span class="col-2 bg-primary text-white p-2">Credit</span>
                    <span class="col-2 bg-primary text-white p-2">Balance</span>
                </a>
            </div>
            <!--Body section fof the list of students-->
            {% for student in stuObj  %}
            <div class="row px-2">
                <a href="{% url "student" student.student.id %}" class="d-flex text-decoration-none hover-item bg-secondary">
                    <span class="col-1 p-2">{{ forloop.counter }}</span>
                    {% if student.studentBalance > 0 %}
                    <span class="col-7 p-2 text-danger">{{ student.student|title }} </span>
                    {% else %}
                    <span class="col-7 p-2 text-success">{{ student.student|title }} </span>
                    {% endif %}
                    <span class="col-2 p-2 text-success">{{ student.studentTotalCredit }}</span>
                    <span class="col-2 p-2 text-danger">{{ student.studentBalance }}</span>
                </a>
            </div>
            {% endfor %}        
        </div>
       
    </div>
    
</div>
{% endblock content %}