{% extends "base/base.html" %}
{% load static %}

{% block pageTitle %}Dashboard{% endblock pageTitle %}

{% block content %}
<!--Detail information about teacher with payment log-->
    <div class='row'>
        <div class="d-none d-sm-block col-sm-3 bg-white my-4 p-2 border rounded shadow text-primary">
            <!--Side menu for pc-->
          {% include "main/sidemenu.html" %}
        </div>
        <div class="col-12 col-sm-9 bg-white my-4 p-sm-2 border rounded shadow-lg">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <h4 class="text-center text-primary">Student Information</h4>
                    <img class="m-1" src="{{teacher.imageURL}}" alt="teacher image" width="150" height="150" class="bg-warning">
                    <p class="row m-1">
                        <span class="col-5 bg-info p-1 fs-5 text-primary">First Name:</span>
                        <span class="col-7 bg-warning text-gray fs-5">{{teacher.first_name|title}}</span>
                    </p>
                    <p class="row m-1">
                        <span class="col-5 bg-info p-1 fs-5 text-primary">Middle Name:</span>
                        <span class="col-7 bg-warning text-gray fs-5">{{teacher.middle_name|title}}</span>
                    </p>
                    <p class="row m-1">
                        <span class="col-5 bg-info p-1 fs-5 text-primary">Last Name:</span>
                        <span class="col-7 bg-warning text-gray fs-5">{{teacher.last_name|title }}</span> 
                    </p>
                    <p class="row m-1">
                        <span class="col-5 bg-info p-1 fs-5 text-primary">Form:</span>
                        <span class="col-7 bg-warning text-gray fs-5">
                            {% for program in teacher.program.all  %}
                            {{program.program_name}},
                            {% endfor %}
                    </span>
                    </p>
                </div>
                <!--Payment history section-->
                <div class="col-12 col-sm-6">
                    <div class="col">
                        <h4 class="text-center text-primary">Payment log</h4>
                        {% for payment in payment_logs %}
                        <p class="row m-1">
                            <span class="col-5 bg-info p-1 fs-5 text-primary">{{ payment.created }}</span>
                            <span class="col-7 bg-warning text-gray fs-5">{{payment.amount}}</span>
                        </p>
                        {% endfor %}
                        <p class="row m-1 text-white">
                            <span class="col-5 bg-success p-1 fs-5">Recieved:</span>
                            <span class="col-7 bg-success text-gray fs-5">{{ totalCredit }}</span>
                        </p>
                        <p class="row m-1 text-white">
                            <span class="col-5 bg-success p-1 fs-5">Paid to admin:</span>
                            <span class="col-7 bg-success text-gray fs-5">{{ paid_to_admin }}</span>
                        </p>
                        <p class="row m-1 text-white">
                            <span class="col-5 bg-danger p-1 fs-5">Balance:</span>
                            <span class="col-7 bg-danger fs-5">{{ balance }}</span>
                        </p>
                    </div> 
                </div>
            </div>
            <div class="d-flex justify-content-start">
                {% if request.user.is_superuser %}<a href=""><button class="bg-primary border border-0 rounded-pill text-lime py-2 px-5 mb-3 mt-4 me-2">Edit Detail</button></a>{% endif %}
            </div>
        </div>
       
    </div>
    
{% endblock content %}