{% extends "base/base.html" %}
{% load static %}

{% block pageTitle %}Login{% endblock pageTitle %}
{% block content %}
<!--Form for registration of users-->
    <div class="d-flex justify-content-center my-4 m-sm-5">
        <form action="" method="post" class="d-flex col-12 col-sm-8 bg-white shadow-lg rounded-2" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-12 col-sm-6 d-flex align-items-center justify-content-center">
                    <div class="bg-primary text-center p-2">
                        <img id="blah" class="col-4 col-sm-7 bg-primary" src="{% static "base/images/wbm-logo-400x400.png" %}" alt="wbm logo">  
                    </div>  
                </div>
                <div class="col-12 col-sm-6">
                    <h4 class="text-primary p-2">Register</h4>
                    <div class="justify-content-center m-1 ">
    
                        {{form}}
                        <script>
                            blah = document.getElementById('blah');
                            id_image = document.getElementById('id_image');
                            id_image.onchange = evt => {
                                const [file] = id_image.files
                                if (file) {
                                    blah.src = URL.createObjectURL(file)
                                }
                            }
                        </script>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="{% url "login" %}"><button class="bg-primary border border-0 rounded-pill text-lime py-2 px-5 mb-5 mt-4">Register</button></a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
{% endblock content %}
