{% extends "base/base.html" %}
{% load static %}

{% block pageTitle %}Dashboard{% endblock pageTitle %}

{% block content %}
<!--Display information about users of the app-->
    <div class='row'>
        <div class="d-none d-sm-block col-sm-3 bg-white my-4 p-2 border rounded shadow text-primary">
          {% include "main/sidemenu.html" %}
        </div>
        <div class="col-12 col-sm-9 bg-white my-4 border rounded shadow-lg">
            <div class="m-1">
                <h4>Teachers information</h4>
                <img class="col-sm-2 col-3" src="{{user.image.url}}" alt="">
            </div>
            <div class="row m-sm-1">
                <span class="bg-info col-5 my-1 py-1">First name:</span><span class="col-7 bg-warning my-1 py-1">{{user.first_name}}</span>
                <span class="bg-info col-5 my-1 py-1">Middle name:</span><span class="col-7 bg-warning my-1 py-1">{{user.middle_name}}</span>
                <span class="bg-info col-5 my-1 py-1">Last name:</span><span class="col-7 bg-warning my-1 py-1">{{user.last_name}}</span>
                <span class="bg-info col-5 my-1 py-1">Username:</span><span class="col-7 bg-warning my-1 py-1">{{user.username}}</span>
                <span class="bg-info col-5 my-1 py-1">Email:</span><span class="col-7 bg-warning my-1 py-1">{{user.email}}</span>
                <span class="bg-info col-5 my-1 py-1">Is staff:</span><span class="col-7 bg-warning my-1 py-1">{{user.is_staff}}</span>
                <span class="bg-info col-5 my-1 py-1">Is active:</span><span class="col-7 bg-warning my-1 py-1">{{user.is_active}}</span>
                <span class="bg-info col-5 my-1 py-1">Is admin:</span><span class="col-7 bg-warning my-1 py-1">{{user.is_superuser}}</span>
                <span class="bg-info col-5 my-1 py-1">Amount Recieved:</span><span class="col-7 bg-warning my-1 py-1">{{totalCredit}}</span>
                <span class="bg-info col-5 my-1 py-1">Amount Paid to Admin:</span><span class="col-7 bg-warning my-1 py-1">{{paid_to_admin}}</span>
                <span class="bg-info col-5 my-1 py-1">Balance:</span><span class="col-7 bg-warning my-1 py-1">{{balance}}</span>
                <span class="bg-info col-5 my-1 py-1">Class:</span><span class="col-7 bg-warning my-1 py-1">
                    {% for program in user.program.all  %}
                        {{program.program_name}},
                    {% endfor %}</span>
            </div>
            <div class="d-flex justify-content-start">
                <a href="{% url "editUser" user.id %}"><button class="bg-primary border border-0 rounded-pill text-lime py-2 px-5 mb-3 mt-4 me-2">Edit teacher </button></a>
                <a href="{% url "pay_to_admin" user.id %}"><button class="bg-primary border border-0 rounded-pill text-lime py-2 px-5 mb-3 mt-4 me-2">Pay to admin </button></a>
                <a href="{% url "payment_logs" user.id %}"><button class="bg-primary border border-0 rounded-pill text-lime py-2 px-5 mb-3 mt-4 me-2">payment logs</button></a>
            </div>
        </div>
        
    </div>
    
{% endblock content %}