{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> WBM ZION SCI DPT | {% block pageTitle %}{% endblock pageTitle %} </title>

    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">

    <link rel="shortcut icon" href="{% static "base/images/wbm-logo4.png" %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static "base/bootstrap/css/main.min.css" %}">
    <link rel="stylesheet" href="{% static "base/bootstrap/css/myStyle.css" %}">
</head>
<body class="bg-white" style="min-height:100vh;display:flex;flex-direction:column">
  <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <div class="container">
            <img src="{% static "base/images/wbm-logo2.png" %}" alt="Hi!" width=70>
          <a class="navbar-brand text-lime" href="{% url "index" %}">WBM ZION</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 fs-5">
              <li class="nav-item">
                <a class="nav-link active text-lime" aria-current="page" href="{% url "index" %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-lime active" aria-current="page" href="">Contact</a>
              </li>
              {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link text-lime" href="">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-lime" href="{% url "logout" %}">Logout</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-lime" href="">{{ request.user|title }}</a>
              </li>
              <li class="nav-item">
                <a href=""><img class="rounded-circle" src="{{request.user.imageURL }}" alt="user image" style="width:40px; height:40px"></a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link text-lime" href="{% url "login" %}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-lime" href="{% url "register" %}">Register</a>
              </li>
              {% endif %}
            </ul>
            
          </div>
        </div>
      </nav> 
  </header>

    <div class="text-center">
      {% if messages %}
        {% for message in messages %}
          {% if message.tags == 'success' %}
            <p class="text-success bg-success-subtle p-2 m-0">{{ message }} </p>
          {% elif message.tags == 'error' %}
            <p class="text-danger bg-danger-subtle p-2 m-0">{{ message }} </p>
          {% else %}
          <p class="text-info bg-info-subtle p-2 m-0">{{ message }} </p>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
    
    <main class="container">
        {% block content %}{% endblock content %}
    </main>
    
    <footer class="bg-primary {% if request.user.is_superuser %} mb-5 {% endif %} mb-sm-0" style="margin-top:auto">
        <div class="container text-center text-lime py-4">
          <p class="m-0 pacifico"> &copy WBM SHS science department</p>
          <p class="m-0 pacifico">wbmzionscience@gmail.com</p>
          <p class="m-0 pacifico">Designed by Alphy</p>
        </div>
    </footer>
    {% if request.user.is_superuser %}
        <div class="d-block d-sm-none col-12 col-sm-3 bg-white p-2 border rounded shadow text-primary fixed-bottom">
            <!--Bottom menu for the mobile interface only-->
            {% include "zion/sidemenuphone.html" %}
        </div>
    {% endif %}
    <script src="{% static "base/bootstrap/js/bootstrap.bundle.js" %} "></script>
</body>
</html>